.section-calculator {
    width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.calculator-h2 {
    margin-bottom: 32px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #9da3d7;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'MyriadPro-Bold';
    letter-spacing: 0.75px;
    color: #0099de;
}

h4 {
    margin-bottom: 15px;
    font-family: 'MyriadPro-Semibold';
    font-size: 24px;
    font-weight: 600;
    line-height: 1.67;
    color: #000;
}

//calculator-wrap1

.calculator-wrap1 {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.calculator-item {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    p {
        margin-top: 8px;
        font-size: 14px;
        font-weight: bold;
        line-height: 3.21;
        letter-spacing: 0.35px;
        &:hover {
            color:#0099de;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.active-calcucator {
    color:#0099de;
    text-decoration: underline;
}

//calculator-wrap2

.calculator-wrap2 {
    height: 513px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 2.5px 4.3px 10px 0 rgba(0, 0, 0, 0.23), inset 1px 1.7px 6px 0 rgba(0, 0, 0, 0.35);
}
.calculator-sizes {
    width: 320px;
    height: 360px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    img {
        height: 164px;
        position: absolute;
        top: 85px;
        left: 50%;
        transform: translate(-45%, 0%);
    }    
}

.height-wrap, .width-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
        margin-bottom: 3px;
        font-size: 20.5px;
        line-height: 1.8;
        text-align: center;
        color: #000;
    }
    input {
        width: 91px;
        height: 46px;
        box-sizing: border-box;
        border: solid 2px #a2a2a2;
        border-radius: 7.4px;
        background-color: #ffffff;
        font-size: 35.5px;
        line-height: 0.83;
        text-align: center;
        color: #5d5d5d;
    }
}

.width-value, .height-value {
    position: absolute;
    font-family: 'MyriadPro-SemiboldIt';
    font-size: 22px;
    font-weight: 600;
    line-height: 1.82;
    color: #636363;
}

.height-value {
    left: -10px;
    top: 150px;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}

.width-value {
    top: 24px;
    left: 125px;
}

.form-sizes {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 30px;
    span {
        margin: 37px 25px 0 20px;
        font-family: 'MyriadPro-Bold';
        font-size: 31px;
        line-height: 0.83;
        text-align: center;
        color: #0099de;
    }
}

//calculator-criteria

.calculator-criteria {
    width: 645px;
    height: 360px;
    box-sizing: border-box;
    padding: 58px 0 0 90px;
    z-index: 1000;
    label, .custom-select-wrap {
        font-size: 18px;
        line-height: 2.22;
        color: #000;
    }    
}





 





//calculate-send

.calculate-send {
    position: absolute;
    bottom: 50px;
    left: 200px;
    height: 46px;
    box-sizing: border-box;
}

.number {
    font-family: 'MyriadPro-Regular';
    box-sizing: border-box;
    background-color: #c6c6c6;
    font-size: 18px;
    letter-spacing: 0.45px;
    color: #424242;
    border: none;
    padding-left: 60px;
    cursor: pointer;
}

.calculate {
    font-size: 20px;
    background-color: #9da3d7;
    border: none;
    color: #ffffff;
    font-family: 'MyriadPro-Bold';
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.calculate-send input {
    height: 100%;
    width: 280px;
    margin: 0 10px;
    border-radius: 10px;
}

.user {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 3px;
    left: 11px;
    background-image: url('../img/user.png');
}