.custom-radio-wrap {
    display: flex;
    margin-bottom: 50px;

    input[type="radio"]:checked, 
    input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio {
    margin-right: 26px;
}

input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 17px;
    height: 17px;
    border: solid 2px #979797;
    background-color: #ffffff;
    border-radius: 100%;
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    left: 5px;
    top: 5px;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background-color: #0099de;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="radio"]:checked + label:after {
    opacity: 1;
}
}