footer { 
    padding: 0 10px;   
    height: 150px;
    background-color: #777777;  
    display: flex;
    align-items: center;  
}

.footer-wrap {
    width: 965px;
    margin: 0 auto;
}

.footer-h2 {
    margin: auto 0;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #fffefe;
}