.section-info {
    h2 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.6px;
        color: #000;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 27px;
    }
    p {
        padding: 0 8px;
        font-size: 14px;
        letter-spacing: 0.35px;
        text-align: justify;
        color: #000;
    }
    margin: 0 auto 70px;
    width: 1000px;
}